form {
  background-color: rgb(176, 210, 249);
  padding: 0px 60px;
  border-radius: 10px;
}

label,
.col-form-label {
  font-size: 12px;
  color: gray;
}

.client-btn {
  margin: 10px 0px;
  width: 100%;
}

.clients h1 {
  text-align: center;
  margin: 10px 0;
}
