.navLinks {
  /* display: inline-block; */
  /* justify-content: space-between; */
}
.icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  /* width: 50%; */
}

.icon {
  /* margin-left: 55px; */
  /* margin-right: 65px; */
  /* cursor: pointer; */
  /* position: relative; */
  /* display: block; */
  height: 40px;
  padding: 1em;
  margin-top: -40px;
}

.badge {
  display: flex;
  margin-top: -40px;
  margin-left: 15px;
  margin-right: 5px;
}

.iconImg-notice {
  width: 20px;
  height: 20px;
  margin-top: 13px;
}

.notices {
  background-color: hsl(0, 2%, 81%);
  position: fixed;
  top: 110px;
  left: 810px;
  display: flex;
  width: 350px;
  flex-direction: column;
  padding: 0px;
  z-index: 9999;
  animation: noticeMe 0.7s ease;
  border-radius: 5px;
}

.notice {
  padding: 2px;
  font-size: 14px;
}

.noticeBtn {
  width: 30%;
  padding: 2px;
  margin: 5px;
  align-self: center;
}

@keyframes noticeMe {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0x);
  }
}
