/* css class */

.topdiv{
    border: 2px red solid;
}

/* tag/element based css */

h4 {
    color: brown;
    font-weight: 400;
    font-style: italic;
}

/* id based css */

#name_element {
    color: rgb(143, 207, 216);
    font-weight: 600;
    font-style: oblique;
    border-radius: 5%;
    border: 5px solid gray;
}

.button{
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 196, 0);
    border: 1px solid red;
    border-radius: 5%;
    margin: 10px;
}

.active{
    background-color: aquamarine;
}